<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Metadata-->
	<meta charset="UTF-8">
	<title>Eat Tha Burger! | Full Stack Burgers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Open+Sans&family=DM+Mono&display=swap"
		rel="stylesheet">
	
	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger_page.js"></script>
	
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
	<link rel="manifest" href="favicon_io/site.webmanifest">
</head>

<body>
	{{{ body }}}
</body>

</html>