<div class="container">
  <h1>Full Stack Burgers</h1>
  <h3>Delicious full stack burgers</h3>
</div>

<div class="burger-list">
  {{!-- If devoured returns a falsy value (ie, not yet devoured), Handlebars WILL render burger-block partial, setting devoured to false. 
Otherwise, it will render nothing. --}}
  <div class="not-devoured">
    <h2>Order Here</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>


  {{!-- If devoured is true (eaten), it will render --}}
  <div class="devoured-burgers">
    <h2>Devoured Burgers</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="container">
  <h2>Add a Burger</h2>
  <h4>Enter a burger you'd like to eat, and click submit</h4>
  <form class="create-form">

    <p>Burger Name:</p>
    <div class="form-group">
      <textarea type="text" id="burger" rows="4" name="name" placeholder="Guacamole Burger"></textarea>
    </div>

    <button type="submit" class="form-button">Add Burger</button>
  </form>
</div>