<h1>Burgers!</h1>

<h2>Burgers are delicious!</h2>

<ul>
  {{#each burgers}}
        <li>{{this.burger_name}} | Devoured: {{this.devoured}} </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <textarea type="text" id="burger" rows="7" name="name" placeholder="Guacamole Burger"></textarea>
    </div>

    <button type="submit">Add Burger</button>
</form>