<h1>Burgers!</h1>

<h2>Burgers are delicious!</h2>

<h2>Burgers that are not yet devoured</h2>

{{!-- If devoured returns a falsy value (ie, not yet devoured), Handlebars WILL render burger-block partial, setting devoured to false. 
Otherwise, it will render nothing. --}}
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>


<h2>Burgers that are devoured</h2>

{{!-- If devoured is true (eaten), it will render --}}
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <textarea type="text" id="burger" rows="7" name="name" placeholder="Guacamole Burger"></textarea>
    </div>

    <button type="submit">Add Burger</button>
</form>